/* 
* @Author: admin
* @Date:   2017-09-12 10:53:17
* @Last Modified by:   admin
* @Last Modified time: 2017-09-15 15:40:24
*/ 
.iconfont {

    font-family:"iconfont" !important;

    font-size:16px;

    font-style:normal;

    -webkit-font-smoothing: antialiased;

    -webkit-text-stroke-width: 0.2px;

    -moz-osx-font-smoothing: grayscale;

}
body{
	background-color: #f5f5f5;
}
/* 头部开始 */
header{
	width: 100%;
	height: 112px;
	padding: 41px 0 19px;
	background-color: #fff;
}
.neikuan{
	width: 1024px;
	height: 49px;
	margin: 0 auto;
}
.yancaotu{
	width: 173px;
	height: 49px;
	background-image: url('../img/1.png');
	float: left;
}
.yancaotu1{
	width: 169px;
	height: 49px;
	background-image: url('../img/2.png');
	float: left;
}
.header-zi{
	float: right;
}
.header-zi .zi{
	font-size: 16px;
	color: #999;
	font-family: "苹方";
	line-height: 49px;
	padding: 0 7px 0;
}
/* 头部结束 */
/* banner开始 */

/* banner结束 */
/* 内容开始 */
section{
	width: 1263px;
	background-color: #f5f5f5;
	margin: 0 auto;
}
.banner-nei{
	width: 1263px;
	height: 229px;
	margin: 0 auto;
	background-image: url('../img/28.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.neikuan1{
	width:1000px;
	background-color:#fff;
	margin: 0 auto;
	padding: 33px 30px 0;
	overflow: hidden;
	position: relative;
	top: -33px;
}
.top{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.top-left{
	width: 294px;
	height: 215px;
	border: 1px #e4e4e4 solid;

}
.left-top{
	height: 28px;
	overflow: hidden;
	border-bottom: 1px #e4e4e4 solid;
}
.left-top-1{
	width: 120px;
	float: left;
}
.left-top-2{
	width: 92px;
	float: left;
	border-left: 1px #e4e4e4 solid;
	padding: 0 10px;
	margin-left:80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.left-top-2-2{
	width: 17px;
	height: 9px;
	margin-top: 9px;

}
.left-top-2-1{
	font-size: 16px;
	color: #000;
	font-family: "苹方";
	line-height: 28px;
}
.left-top1{
	width: 292px;
	height: 184px;
	padding: 22px 12px;
}
.left-top1-1{
	font-family: "苹方";
	font-size: 12px;
	color: #ccc;
	line-height: 28px;
}
.zhong{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.zhong-tu{
	width: 294px;
	height: 78px;
}
.bottom{
	height: 29px;
	background-color: #ccc;
	margin-top: 30px;
}
.bottom1{
	padding: 0 20px;
	border-right: 1px #fff solid;
	font-size: 14px;
	color: #000;
	font-family: "苹方";
	line-height: 29px;
}
.bottom2{
	font-size: 14px;
	color: #000;
	font-family: "苹方";
	line-height: 29px;
	margin-left: 50px;
	padding-left: 15px;
}
.bottom3{
	width: 150px;
	height: 20px;
	padding-left: 15px;
}
.bottom4{
	display: inline-block;
	width: 50px;
	height: 20px;
	line-height: 29px;
}
.bottom5{
	width: 90px;
	height: 25px;
	background-color: red;
	margin-left: 100px;
	margin-top: 2px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: "苹方";
}
/* 内容结束 */
/* 底部开始 */
footer{
	width: 100%;
	height: 77px;
	background-color: #ccc;
}
.footer-nei{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}
footer span{
	font-family: "苹方";
	font-size: 12px;
	color: #000;
	line-height: 77px;
}
.footer-right{
	float: right;
	margin-top: 26px;
	display: flex;
	flex-wrap: wrap;
}
.footer-tu1{
	width: 24px;
	height: 24px;
	background-image: url('../img/4.png');
	background-size: cover;

}
.footer-tu2{
	width: 24px;
	height: 24px;
	background-image: url('../img/5.png');
	background-size: cover;
}
.footer-tu3{
	width: 64px;
	height: 24px;
	background-image: url('../img/6.png');
	background-size: cover;
}
/* 底部结束 */